---
permalink: /
---

<!DOCTYPE html>
<html class="no-js" lang="{{ lang or meta.lang }}">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{%- if title -%}{{ title }} | {{ meta.title }}{%- else -%}{{ meta.title }}{%- endif -%}</title>
	{# <meta name="robots" content="noindex" /> #}
	{# General #}
	<meta name="description" content="{{ description or meta.description }}">
	<meta name="keywords" content="{{ tags }}">
	{%- set absolutePageUrl -%}{{ page.url | url | absoluteUrl(meta.url) }}{%- endset -%}
	<link rel="canonical" href="{{ absolutePageUrl }}">
	{# Webmentions#}
	<link rel="pingback" href="https://webmention.io/www.johanedlund.se/xmlrpc" />
	<link rel="webmention" href="https://webmention.io/www.johanedlund.se/webmention" />
	{# Micropub#}
	<link rel="authorization_endpoint" href="https://indieauth.com/auth">
	<link rel="token_endpoint" href="https://tokens.indieauth.com/token">
	<link rel="micropub" href="https://mikropub.netlify.app/micropub">
	<link rel="micropub_media" href="https://mikropub.netlify.app/media">
	{# Open Graph #}
	<meta property="og:site_name" content="{{ meta.title }}">
	<meta property="og:title" content="{{ title or meta.title }}">
	<meta property="og:description" content="{{ description or meta.description }}">
	<meta property="og:url" content="{{ absolutePageUrl }}">
	<meta property="og:locale" content="{{ locale or meta.locale }}">
	<meta name="twitter:card" content="{% if featuredImage -%}summary_large_image{% else %}summary{% endif %}">
	{%- if featuredImage -%}
	<meta property="og:image" content="{{ featuredImage | url | absoluteUrl(meta.url) }}">
	{%- endif -%}
	{#Favicon #}
	<link rel="apple-touch-icon" sizes="180x180" href="{{ '/_assets/images/favicon/apple-touch-icon.png' | url }}">
	<link rel="icon" type="image/png" href="{{ '/_assets/images/favicon/favicon-32x32.png' | url }}" sizes="32x32">
	<link rel="icon" type="image/png" href="{{ '/_assets/images/favicon/favicon-16x16.png' | url }}" sizes="16x16">
	<link rel="shortcut icon" href="{{ '/_assets/images/favicon/favicon.ico' | url }}">
	<link rel="manifest" href="{{ '/site.webmanifest' | url }}">
	<meta name="theme-color" content="#1a1a1a">
	{# RSS Feed #}
	<link type="application/atom+xml" rel="alternate" href="{{ meta.url }}/feeds/feed.xml" title="{{ meta.title }}">
	<link rel="stylesheet" href="{{ '/_assets/styles/main.css' | url }}">
</head>
<body>
	{% iconsprite_social %}
	<a href="#main" class="sr-skip-link">skip to main content</a>

<main class="main h-card container" rel="author">
<img width="500" height="500" class="u-photo" src="{{ '/_assets/images/avatar.webp' | url }}" alt="Headshot (selfie) of Johan Edlund in front of the castle Krageholm" />
<h1 class="p-note"><span lang="sv">Hej!</span> I'm <a class="u-url u-uid" href="{{ meta.url }}"><span class="p-name"><span class="p-given-name">Johan</span> <span class="p-family-name">Edlund</span></span></a>
and I live in the town of <span class="p-locality" lang="sv">Malmö</span> in the southernmost region of <span class="p-country-name">Sweden</span>, <a href="https://en.wikipedia.org/wiki/Scania" class="p-region">Scania</a>.
</h1>
<ul class="social_icons">
<li><a class="u-email" rel="me" href="mailto:me@johanedlund.se" title="E-mail">{% icon "email" %}<span hidden>E-mail<span></a></li>
<li><a rel="me" class="u-url" href="{{ meta.social.mastodon.url }}" title="Mastodon">{% icon "mastodon" %}<span hidden>Mastodon<span></a></li>
<li><a rel="me" class="u-url" href="{{ meta.social.twitter.url }}" title="Twitter">{% icon "twitter" %}<span hidden>Twitter<span></a></li>
<li><a rel="me" class="u-url" href="{{ meta.social.github.url }}" title="Github">{% icon "github" %}<span hidden>Github</span></a></li>
<li><a rel="me" class="u-url" href="{{ meta.social.flickr.url }}" title="Flickr">{% icon "flickr" %}<span hidden>Flickr</span></a></li>
<li><a rel="me" class="u-url" href="{{ meta.social.dribbble.url }}" title="Dribbble">{% icon "dribbble" %}<span hidden>Dribbble</span></a></li>
</ul>

</main>

	<script src="{{ '/_assets/scripts/main.js' | url }}"></script>
	<script>if ('serviceWorker' in navigator){navigator.serviceWorker.register('/serviceworker.js')}</script>
	</body>
	</html>
