---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
  - all
  - allposts
  - allnotes
  - alltags
  - post
  - posts
  addAllPagesToCollections: true
layout: base.njk
permalink: /tags/{{ tag | slugify}}/index.html
eleventyComputed:
  title: "Tag: {{ tag }}"
  metaDescription: "All contant from {{ meta.domain}} tagged with “{{ tag }}”"
---
<h1>{{ title }}</h1>

<ol>
{% set taglist = collections[ tag ] %}
{% for t in taglist %}
	<li><a href="{{ t.url }}">{{ t.data.title }}</a></li>
{% endfor %}
</ol>
