<footer class="footer h-card">
	<div class="footer__inner container">

		<p class="footer__item">
			<strong>Social</strong><br>
			<a class="u-email" rel="me" href="mailto:me@johanedlund.se" title="E-mail">{% icon "email" %} |
			<a rel="me" class="u-url" href="{{ meta.social.mastodon.url }}" title="Mastodon">{% icon "mastodon" %} |
			<a rel="me" class="u-url" href="{{ meta.social.twitter.url }}" title="Twitter">{% icon "twitter" %} |
			<a rel="me" class="u-url" href="{{ meta.social.github.url }}" title="Github">{% icon "github" %} |
			<a rel="me" class="u-url" href="{{ meta.social.flickr.url }}" title="Flickr">{% icon "flickr" %}
		</p>

		<p class="footer__item">
			<strong>Legal</strong><br>
			<a href="/privacy/"><abbr title="soli Deo gloria">sDg</abbr> - no copyright.</a>
		</p>

		<p class="footer__item">
			<strong>Footer right</strong><br>
			<a href="{{ meta.repo }}/tree/master/{{ page.inputPath }}" class="footer__icon" title="Edit this page on Github">
					<span>Edit this page on Github</span>
			</a>
		</p>


	</div>
</footer>
