{%- set absolutePageUrl -%}{{ page.url | url | absoluteUrl(meta.url) }}{%- endset -%}
{# Hide while developing #}
<meta name="robots" content="noindex, nofollow">
{# General #}
<meta name="description" content="{{ description or meta.description }}">
<meta name="keywords" content="{{ tags }}">
<link rel="canonical" href="{{ absolutePageUrl }}">
{# Webmentions#}
<link rel="pingback" href="https://webmention.io/www.johanedlund.se/xmlrpc" />
<link rel="webmention" href="https://webmention.io/www.johanedlund.se/webmention" />
{# Micropub#}
<link rel="authorization_endpoint" href="https://indieauth.com/auth">
<link rel="token_endpoint" href="https://tokens.indieauth.com/token">
<link rel="micropub" href="https://mikropub.johanedlund.se/micropub">
<link rel="micropub_media" href="https://mikropub.johanedlund.se/media">
{# Open Graph #}
<meta property="og:site_name" content="{{ meta.title }}">
<meta property="og:title" content="{{ title or meta.title }}">
<meta property="og:description" content="{{ description or meta.description }}">
<meta property="og:url" content="{{ absolutePageUrl }}">
<meta property="og:locale" content="{{ locale or meta.locale }}">
<meta name="twitter:card" content="{% if featuredImage -%}summary_large_image{% else %}summary{% endif %}">
{%- if featuredImage -%}
<meta property="og:image" content="{{ featuredImage | url | absoluteUrl(meta.url) }}">
{%- endif -%}
{#Favicon #}
<link rel="apple-touch-icon" sizes="180x180" href="{{ '/_assets/images/favicon/apple-touch-icon.png' | url }}">
<link rel="icon" type="image/png" href="{{ '/_assets/images/favicon/favicon-32x32.png' | url }}" sizes="32x32">
<link rel="icon" type="image/png" href="{{ '/_assets/images/favicon/favicon-16x16.png' | url }}" sizes="16x16">
<link rel="shortcut icon" href="{{ '/_assets/images/favicon/favicon.ico' | url }}">
<link rel="manifest" href="{{ '/site.webmanifest' | url }}">
<meta name="theme-color" content="#1a1a1a">
{# RSS Feed #}
<link type="application/atom+xml" rel="alternate" href="{{ meta.url }}/feeds/feed.xml" title="{{ meta.title }}">
{# Umami tracking code TODO: fix better inclusion#}
<script defer src="https://cloud.umami.is/script.js" data-website-id="75b79efd-f4b0-4425-aace-9fa8230aa1c3"></script>
