---
layout: base
permalink: /articles/index.html
title: Articles
eleventyNavigation:
  key: Articles
---

<div class="page page--blog">
		<header class="page__header">
				<h1 class="page__title">{{ title }}</h1>
		</header>
		<div class="page__content">
			<ul>
			{%- for article in collections.allarticles -%}
				<li><a href="{{ article.url }}">{{ article.data.title }}</a></li>
			{%- endfor -%}
			</ul>
		</div>
</div>

{# pagination:
data: collections.allarticles
size: 1 #}
